hostname: "airmonitor"

mqtt_server: "mqtt.server.local"
mqtt_user: "mqtt_user"
mqtt_pwd: "mqtt_password"

api_pwd: "api_password"
ota_pwd: "ota_password"

wifi_ssid: "wifi_name"
wifi_pwd: "wifi_passowrd"

wifi_ap_ssid: "ap_name"
wifi_ap_pwd: "ap_password"